.document-card {
  padding: 4px;
  display: flex;

  .img {
    min-width: 36px;
    width: 36px;
    margin-right: 16px;

    img {
      width: 100%;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    overflow: hidden;
    color: blueviolet;

    .header {
      font-weight: bold;
    }

    .body {
      display: flex;
      justify-content: space-between;
    }
  }
}
