.document-card {
  padding: 4px;
  display: flex;

  img {
    width: 36px;
    margin-right: 16px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    color: blueviolet;

    .header {
      font-weight: bold;
    }

    .body {
      display: flex;
      justify-content: space-between;
    }
  }
}
