.document {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;

  h2 {
    margin: 0 auto;
  }

  .body {
    display: flex;
    flex-direction: column;

    .img {
      width: 80%;
      margin: 16px auto;

      img {
        width: 100%;
      }
    }

    .info {
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      .footer {
        display: flex;
        justify-content: flex-end;
        padding: 20px 16px;

        .date {
          margin-left: 16px;
        }
      }
      form {
        display: flex;
        justify-content: space-between;

        button {
          background-color: rebeccapurple;
          color: white;
          padding: 8px;
          margin: 8px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}

.documents {
  .sidebar {
    display: none;
  }

  .main {
    display: flex;
  }
}

@media (min-width: 600px) {
  .document {
    h2 {
      margin: 0;
    }
    .body {
      flex-direction: row;

      .img {
        min-width: 200px;
        width: 200px;
        margin: 0 16px 0 0;
      }
    }
  }
  .documents {
    .sidebar {
      display: flex;
    }
  }
}
