.index {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    background-color: rebeccapurple;
    color: white;
    padding: 8px;
    margin: 16px;
    font-size: 32px;
    border-radius: 5px;
    cursor: pointer;
  }
}
